<%- include("../include/header") -%>

 <div class="container">
  <h3>회원가입</h3>
  <form action="/board/register" method="post">
   <div class="mb-3">
    <label for="exampleInputName1" class="form-label">이름</label>
    <input type="text" class="form-control" id="userName" placeholder="이름을 입력해주세요.">
   </div>
   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">이메일</label>
    <input type="text" class="form-control" id="userEmail" placeholder="이메일을 입력해주세요.">
   </div>
   <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">비밀번호</label>
    <input type="password" class="form-control" id="userPassword" placeholder="비밀번호를 입력해주세요.">
   </div>
   <button type="submit" class="btn btn-primary">회원가입</button>
  </form>
 </div>